.idea
.vs

src/BarberApp/BA.Data/bin
src/BarberApp/BA.Data/obj

src/BarberApp/BA.Service/bin
src/BarberApp/BA.Service/obj

src/BarberApp/BA.Common/bin
src/BarberApp/BA.Common/obj

src/BarberApp/BA.Webhost/bin
src/BarberApp/BA.Webhost/obj

src/BarberApp/BA.Webhost/BA.Webhost.csproj.user
