.idea
.vs

src/CSharpOnlineStore/COS.Data/bin
src/CSharpOnlineStore/COS.Data/obj

src/CSharpOnlineStore/COS.Service/bin
src/CSharpOnlineStore/COS.Service/obj

src/CSharpOnlineStore/COS.Webhost/bin
src/CSharpOnlineStore/COS.Webhost/obj

src/CSharpOnlineStore/COS.Webhost/COS.Webhost.csproj.user
